doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='https://kit.fontawesome.com/bc5af1efce.js' crossorigin='anonymous')
    title #{title}
    link(rel="stylesheet", href="/style.css")
.grid-container
    .top-nav
        ul
            li
                a(href='/')
                    h3 Lead Logo
            li.float-right
                a(href='#')
                    i.fas.fa-user
                    | &nbsp;&nbsp;Person Name
            li.float-right 
                a(href='#')
                    i.fas.fa-bell
    .side-nav
        ul
            li
                a(href='/') Students
            li 
                a(href='/') - View Students 
            li 
                a(href='/student/add') - Add Students
    .main-content
        block content

script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
script(src="https://code.jquery.com/jquery-3.1.1.min.js")
script(src="/main.js")




//- doctype html
//- head
//-     title #{title}
//-     link(rel="stylesheet", href="/style.css")
//- body
//-     div
//-         h2 Header
//-     ul
//-         li
//-             a(href='/') Student
//-         li
//-             a(href='/') - View Student
//-         li
//-             a(href='/student/add') - Add Student
//-     div.center-content
//-         block content
//-     br
//-     hr
//-     footer
//-         p Footer

//- script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
//- script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
//- script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
//- script(src="https://code.jquery.com/jquery-3.1.1.min.js")
//- script(src="/main.js")



